VisualHostKey yes

Host old-school
     User morrifeldman
     HostName 192.168.56.102

Host old-school-remote
     User morrifeldman
     Port 2020
     HostName localhost

Host morri-mac
     User morri
     HostName morrimac.ssh22.net

Host amazon
     User admin
     HostName 54.225.104.129

Host raspi
     User pi
     HostName morri.ssh22.net
